@import url("/home/raza/.cache/wal/colors-waybar.css");

* {
    font-family: 'Radio Canada Big', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: @background;
}

#workspaces button.active {
    color: @foreground;
}


#workspaces {
    background-color: @background;
    padding: 0 5.6px 0 0;
}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;    
}

#battery{
  color:@color5;
  background-color: @background;
  padding:0 13px 0 15px;
  margin:0 13px 0 15px

}
#pulseaudio{
  color:@color5;
  background-color: @background;
  padding:0 13px 0 15px;
}
#backlight,
#custom-weather {
    color: @color5; /* color5 */
    background-color: @background; /* background */
    margin: 0 15px 0 0px;
    padding: 0 13px 0 15px; /* top, right, bottom, left */
}

#network {
    color: @color2; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 0px;
    padding: 0 13px 0 15px; /* top, right, bottom, left */
}

#clock {
    color: @color3; /* color3 */
    background-color: @background; /* background */
    margin: 0 15px 0 0;
    padding: 0 15px 0 15px;
}

#network {
    color: @color4; /* color4 */
}

#pulseaudio {
    color: @color5; /* color5 */
}

#backlight {
    color: @color5; /* color5 */
    margin: 0 0px 0 10px;
}

#custom-weather {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#mpris {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 15px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#cpu {
    color: @color4; 
    background-color: @background;
    margin: 0 13px 0 15px;
    padding: 0 13px 0 15px;
}

#custom-notification {
    color: @color4;
    background-color: @background;
    margin: 0 13px 0 15px;
    padding: 0 15px 0 15px;
    border-radius: 10px;
}

/* When notifications are present */
#custom-notification.notification {
    color: @color5;
}

/* Do Not Disturb */
#custom-notification.dnd {
    color: @color2;
}


